/* ==========================================================================
   CUSTOM COLOR VARIABLES
   ========================================================================== */

$bg-gray-40: #f7f7f7;
$bg-gray-80: #eaeaea;

$pf-magenta-20: #f9b2c6;
$pf-magenta-70: #f1678e;
$pf-magenta-body: #b20046;

$dark-border: #000000;