---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "colors";

/* Overriding Minimal Mistakes default sass variables */

/* System typefaces */
$serif: "Courier", monospace;
$sans-serif: "National Park", sans-serif;
$monospace: "Courier", monospace;

/* Colors */
$primary-color: #000000;

$text-color: #000000;

$link-color: $pf-magenta-body;
$link-color-hover: $pf-magenta-body;
$link-color-visited: $pf-magenta-body;
$masthead-link-color-hover: $pf-magenta-body;
$navicon-link-color-hover: $pf-magenta-body;

$border-color: $dark-border;
$focus-color: $dark-border;

$footer-background-color: $pf-magenta-70;
$active-color: $pf-magenta-20;

/* headline scale */
$h-size-1: 2em;

/* Animations */
$intro-transition  : none;
$global-transition : none;

/* Other */
$border-radius: 20px;

@import "fonts";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials